<section class="container mt-5">

    <section class="text-center mb-0 pt-5">
        <h1 class="primary-text">About the AYW</h1>
        <div class="w-25 mx-auto">
            <hr>
        </div>
    </section>

    <section class="m-0 p-0">
        <h2>Our Company</h2>
        <p class="">"As You Wish, LLC , based in San Antonio, Texas, started out like any other business, a quick
            and small idea that we could do it better. After 5 years of back and forth and trying to figure out what to
            call the company and what we actually wanted to do, the company was finally born in September of 2018.
            During
            a late night movie with friends, Gabby came into the room and said I did it, I started the process of making
            the business. I don't have to explain how many jaws dropped at the moment, 3 friends who have been dreaming
            about this for years, was finally here. The hard task and long process of now actually starting a small
            business was now under way. </p>

        <p class=""> With a combined experience of 40 years in the hospitality industry, each of us knows what it
            means to provide nothing but the best expereince for our clients and to build only the best memories.
        </p>
        <p class=""> AYW aims to provide almost a 'One Stop Shop' for event needs, having available services such
            as Photography, Catering, Event Services, and more. As we begin to build and grow, we always remember that
            our main goal is the satisfaction of our client and their guests.
        </p>
        <p class=""> As You Wish, LLC strives to provide amazing service regarless of race, gender, nationality,
            sexual orientation, and all of the above. Strong supporters of the LGBTQIA+ community, we want each client
            who utilizes our service(s) to feel comfortable and confident that privacy, safety, and their overall
            environment is respected."
        </p>

    </section>

    <div class="my-5">
        <header class="mb-3">
            <h2>Meet the owners</h2>
        </header>


        <div>

            <div class="row">

                <div class=" col-sm-12">
                    <h3 class="primary-text">Richard Roque</h3>

                    <p class="">Owner and Head of Operations & Compliance, Richard's extensive background in catering,
                        photography, hospitality, and human resources ensures any and all events planned with AYW are
                        run
                        efficiently and memorably. Richard strives to be the best by providing exceptional client and
                        event
                        services. He aims to make each and every experience unique and unforgettable.</p>
                </div>
                <!-- <div class=" col-sm-12">
                    <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" srcset="">
                </div> -->
            </div>
        </div>


    </div>
    <hr>
    <div class=" my-3">
        <div class="row">

            <div class=" col-sm-12">
                <h3 class="primary-text">Gabrielle Montanez</h3>

                <p class="">Owner and Head of Photography/Videography and Social Media, Gabrielle "Gabby" has uses her
                    keen
                    eye to capture each moment to help you remember each special moment for years to come. She has
                    grown our online presence and created a fantastic opportunity that allows As You Wish to be
                    accessible from almost anywhere. Gabbys 16+ years of experience within the hospitality industry.</p>
            </div>
            <!-- <div class=" col-sm-12">
                <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" srcset="">
            </div> -->
        </div>
    </div>
    <hr>
    <div class=" my-3">


        <div class="row">

            <div class=" col-sm-12">
                <h3 class="primary-text">Yvette Montanez</h3>
                <p class="">Owner and Head of Staffing, Yvette ensures the overall execution of AYW events for each
                    client, providing the best experience each and every time. Yvette believes in putting the right
                    people in the right place, seeking those who can contiue to provide the best customer service. Now
                    starting to build a background within the Hotel industry, she continues to grow within hospitality
                    learning different views of how to better enhance the services provided. Yvette brings her
                    enthusiastic personality and eagerness for success to the hiring of staff. She aspires to ensure
                    that our continued culture of amazing service and client satisfaction is achieved through all AYW
                    events.</p>
            </div>
            <!-- <div class=" col-sm-12">
                <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" height="auto"
                    srcset="">
            </div> -->
        </div>
    </div>
</section>