<section class="container">

    <div class="py-5">

        <div class="py-5">
            <section class="text-center ">
                <h2 class="display-3 primary-text">About the company</h2>
                <hr />
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quam minima repudiandae
                    eum,
                    id
                    expedita laudantium, autem dolor odit quibusdam, doloribus totam iste architecto cumque perferendis.
                    Exercitationem similique porro itaque?
                </p>
            </section>
        </div>

        <section>

            <div class="row my-3">
                <div class="col-lg-6">
                    <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" srcset="">
                </div>
                <div class="col-lg-6">
                    <h3 class="primary-text">Richard Rorque, Co-partner</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est libero qui quia fugit dolorum facere
                        repellat repellendus, cum iste nobis distinctio reprehenderit rem voluptatem quibusdam aliquam,
                        eos
                        corrupti? Eius, cupiditate.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti, deleniti. Sunt aliquid fuga,
                        nemo
                        error quos saepe? Optio quia fuga saepe perferendis. Iusto maxime officiis harum quo blanditiis
                        commodi expedita!</p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6">
                    <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" srcset="">
                </div>
                <div class="col-lg-6">
                    <h3 class="primary-text">Gabby Montanez, Co-partner</h3>
                    <p>Owner and Head of Photography/Videography and Social Media, Gabrielle "Gabby" has uses her keen
                        eye to capture each moment to help you remember each special moment for years to come. She has
                        grown our online presence and created a fantastic opportunity that allows As You Wish to be
                        accessible from almost anywhere. Gabbys 16+ years of experience within the hospitality industry



                    </p>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-lg-6">
                    <img src="../../assets/images/team/partners.jpg" alt="Partners" class="img-fluid" srcset="">
                </div>
                <div class="col-lg-6">
                    <h3 class="primary-text">Yvette Montanez, Co-partner</h3>
                    <p>Owner and Head of Operations and Hiring, Yvette brings over 15 years of experience to the
                        Catering aspect of the company. Starting out at Six Flags Fiesta Texas, similar to the other
                        owners, she has gained a vast amount of experience that brings a sense of perfection to each
                        event. Now starting to build a background within the Hotel industry, she continues to grow
                        within hospitality learning different apsects to better enhane the services provided. Yvette
                        brings her enthusiastic personality and eagerness for success to the hiring of staff. She aims
                        to ensure we only staff those that can continue to take each event above and beyond.



                    </p>
                </div>
            </div>
        </section>


    </div>
</section>