
  <section class="container pt-5">

    <div class="pt-5">

      <div class="container pt-5">
        <div class="text-center ">
          <h2 class="display-3 primary-text">Event Services</h2>
          <hr />
          <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat, sunt
            minima dolorum aspernatur modi rerum autem ullam, corporis nobis dolore culpa et
            voluptates expedita dicta, praesentium repellendus blanditiis vero.</p>
          </div>
      </div>
</div>  
  </section>

 
  <section class="container">
      <div class="row">
    <div class="col-lg-3 border-right">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Profile</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Messages</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Settings</a>
          </div>
    </div>
    <div class="col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio quibusdam error eos nam illum voluptas dolor voluptatem facilis! Quo architecto voluptas dolorem eligendi, aperiam cumque animi dolor temporibus optio necessitatibus?</p></div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
              <p> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
    </div>
  </div>
  </section>


  <section class="m-0">
    <div class="container ">

      <div class="row">
        <div class="col-lg-3">
          <div class="card p-4 shadow">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-glass-cheers" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Weddings</h4>
              <button class="btn btn-primary">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fab fa-accusoft" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Private</h4>
              <button class="btn btn-primary">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-birthday-cake" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Birthday's</h4>
              <button class="btn btn-primary">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-gift" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Commercial</h4>
              <button class="btn btn-primary">Learn more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
