<section class="pt-5">
  <div class="py-5">
    <section class="text-center ">
      <h2 class="display-4 primary-text">Event Services</h2>
      <div class="lead w-25 mx-auto">
        <hr>
      </div>
    </section>
  </div>


  <section class="container-fluid py-10">
    <div class="row py-10">
      <div class="col-lg-3 border-right">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
            aria-controls="v-pills-home" aria-selected="true">Catering</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
            aria-controls="v-pills-settings" aria-selected="false">Photography/Videography</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
            aria-controls="v-pills-messages" aria-selected="false">Additional Services</a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <p>AYW Catering offers a wide variety of services to fit your event needs. We will help understand each
              event
              to ensure we provide the best service for the type of catering you may need. We serve a wide variety of
              options from heavy hors d'oeuvres to box lunches and buffet service to full service events. AYW Caterinig
              offers affordable catering packages to meet any event concept and budget to ensure client and guest
              satisfaction. Servicing the San Antonio area and surrounding cities such as Schertz, New Braunfels, and
              more, we offer a wide variety of options to include delivery and onsite catering.
            </p>
          </div>

          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

          </div>


          <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="m-0">
    <div class="container-fluid py-10">

      <div class="row">
        <div class="col-lg-3">
          <div class="card p-4 shadow">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-glass-cheers" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Weddings</h4>
              <button class="btn primary-bg text-white shadow">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fab fa-accusoft" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Private</h4>
              <button class="btn primary-bg text-white shadow">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-birthday-cake" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Birthday's</h4>
              <button class="btn primary-bg text-white shadow">Learn more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card p-4 shadow-lg">
            <div class="card-body text-center">
              <h1 class="card-title"> <i class="fas fa-gift" style="font-size: 60px"></i> </h1>
              <h4 class="card-text">Commercial</h4>
              <button class="btn primary-bg text-white shadow">Learn more</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>