
<section class="container ">

    <div class="py-5">
        <div >

                <div class="py-5">
                        <section class="text-center ">
                            <h2 class="display-3 primary-text">Send us your request!</h2>
                            <hr />
                            <p class="lead">Fill out the form below and we will reach out and discuss event details.</p>
                        </section>
                    </div>

    <div class="">
        <img src="../../assets/images/baby-shower-birthday-buffet-587741.jpg" class="img-fluid" alt="">
    </div>
    
    <hr />
    
            <form action="Create">
                <div summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Name" >Name</label>
                            <input for="Name" class="form-control" placeholder="Name"/>
                            <span for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Email" >Email</label>
                            <input for="Email" class="form-control" placeholder="Email"/>
                            <span for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Phone" >Phone</label>
                            <input for="Phone" class="form-control" placeholder="Phone"/>
                            <span for="Phone" class="text-danger"></span>
                        </div>
                        <!-- <div class="form-group">
                            <label for="Service" class="control-label"></label>
                            <input for="Service" class="form-control" />
                            <span for="Service" class="text-danger"></span>
                        </div> -->
                        <div>
    
                
                            <label for="">Service: </label>
                            <select id="inputState" class="form-control">
                                    <option selected>Select a service...</option>
                                    <option>Catering</option>
                                    <option>Bartending</option>
                                    <option>Event Planning</option>
                                    <option>Photography</option>
                                  </select>
                        </div>
    
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="Location" >Location</label>
                            <input for="Location" class="form-control" placeholder="Location"/>
                            <span for="Location" class="text-danger"></span>
                        </div>
    
                    
                        <div class="form-group">
                            <label for="Date" >Date</label>
                            <input for="Date" class="form-control" placeholder="Date"/>
                            <span for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="Details" >Details</label>
                            <textarea for="Details" class="form-control" rows="6" placeholder="Details"></textarea>
                            <span for="Details" class="text-danger"></span>
                        </div>
                    </div>
                </div>
    
    
                <div class="form-group">
                    <input type="submit" value="Create" class="btn text-white bg-primary" />
                </div>
            </form>
    
    </div>
    </div>
    </section>