<section class=" mt-5">

    <section class="text-center mb-0 pt-5">
        <h1 class=" primary-text">Service Request</h1>
        <div class="w-25 mx-auto">
            <hr>
        </div>
        <p>Send us your service request by filling out our form below!</p>
    </section>



<div class="col-lg-7 mx-auto">

    <form  [formGroup]="eventForm" (ngSubmit)="sendEmail(eventForm.value)">
        <div summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input for="Name" class="form-control shadow" formControlName="name" placeholder="Name" required />
                    <span for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input for="Email" class="form-control shadow" formControlName="email"
                        placeholder="Email" />
                    <span for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input for="Phone" class="form-control shadow" formControlName="phone"
                        placeholder="Phone" />
                    <span for="Phone" class="text-danger"></span>
                </div>
                <!-- <div class="form-group">
                            <label for="Service" class="control-label"></label>
                            <input for="Service" class="form-control" />
                            <span for="Service" class="text-danger"></span>
                        </div> -->
                <div>



                </div>

            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input for="Location" formControlName="location" class="form-control shadow" placeholder="Location"
                        required />
                    <span for="Location" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <input for="Date" formControlName="date" class="form-control shadow" type="date" placeholder="Date" required />
                    <span for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                <select id="inputState"  class="form-control shadow" >
                    <option value="Select a service..." selected>Select a service...</option>
                    <option formControlName="service"  value="Catering">Catering</option>
                    <option formControlName="service"  value="Bartending">Bartending</option>
                    <option formControlName="service"  value="Event Planning">Event Planning</option>
                    <option  formControlName="service" value="Photography">Photography</option>
                </select>
            </div>
        </div>
        </div>

        <div class="form-group">
            <textarea for="details" class="form-control shadow" formControlName="details" rows="6"
                placeholder="Details" required></textarea>
            <span for="details" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="SEND REQUEST" class="btn primary-text mb-3 bg-white shadow" />
        </div>
    </form>

</div>
</section>


