<nav class="navbar  navbar-expand-lg m-0 shadow navbar-toggleable-sm navbar-light bg-white p-4">
    <div class="container-fluid">
        <a class="navbar-brand primary-text" href="#">
            <p class="primary-text  m-0" >As You Wish LLC.</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
            <ul class="ml-auto navbar-nav ">
                <li class="nav-item">
                    <a class="nav-link primary-text" routerLink="" routerLinkActive="acitve">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link primary-text" routerLink="about" routerLinkActive="active">About</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " routerLink="service" routerLinkActive="active">Services</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link primary-text" routerLink="event" routerLinkActive="active">Gallery</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link primary-text" routerLink="contact" routerLinkActive="active">Service Request</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link primary-text" href="#serviceRequest" routerLinkActive="active">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet (activate)="onActivate($event)"></router-outlet>
<footer class="border-top white-text primary-bg py-5 m-0 footer ">
    <div class="py-10">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-4">
                    <h3><b>About us</b></h3>
                    <p> AYW aims to provide almost a 'One Stop Shop' for event needs, having available services such
                        as Photography, Catering, Event Services, and more.  </p>
                </div>
                <div class="col-lg-4">
                    <h3><b>Contact</b></h3>
                    <p><a class="text-white" href="tel:210-986-3743">(210) 986-3743 </a> <i class="fa fa-phone"></i></p>                 
                    <p><a class="text-white" href="mailto:info.aywevents@gmail.com">info.aywevents@gmail.com </a><i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </p>
                </div>
                <div class="col-lg-4">
                    <h3><b>Social Links</b></h3>
                    <div class="row pl-3" >

                        <h3> <a href="https://www.facebook.com/aywevents.tx/" class="white-text float-left"><i
                                    class="fab fa-facebook "></i> </a>
                        </h3>
                        <h3> <a href="https://www.instagram.com/aywevents.tx/" class="white-text ml-2 float-left"> <i
                                    class="fab fa-instagram "></i> </a>
                        </h3>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-10">
        &copy; 2019 - aywevents - <a class="secondary-text" asp-area="" asp-controller="Home"
            asp-action="Privacy">Privacy</a>
    </div>
</footer>