<section class="py-10">
        <div class="py-5">

                <div class="pt-5 ">
                        <section class="text-center mb-0">
                                <h1 class="primary-text">Photo Gallery</h1>
                                <div class="w-25 mx-auto">
                                        <hr>
                                </div>
                        </section>
                </div>
                <section>
                        <h2>Family Photos</h2>
                        <div class="row">
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/Backhus Family/Backhus_2.jpeg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/Backhus Family/Backhus_3.jpeg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="" >
                                                <img src="../../assets/images/Backhus Family/Backhus_5.jpeg"
                                                        class="img-fluid shadow mb-4 portfolio-img"
                                                         alt="">
                                               
                                        </a>
                                </div>
                        </div>
                </section>
                <section>
                        <h2>Engagement Photos</h2>
                        <div class="row">
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/AndyAndChrisEngagement/AndyandChrisEngagement_1.jpeg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/AndyAndChrisEngagement/AndyandChrisEngagement_2.jpeg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="" >
                          
                                                        <div class="w-100" >
                                                                <img src="../../assets/images/AndyAndChrisEngagement/AndyandChrisEngagement_4.jpeg"
                                                                class="img-fluid shadow mb-4 portfolio-img"
                                                                alt=""
                                                                style="transform-origin: center;">
                                                        </div>
                                               
                                        </a>
                                </div>
                        </div>
                </section>
                <section class="portfolio mt-0 pt-0">
                        <h2>Catering Events</h2>
                        <div class="row">
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class=""> 
                                                <img src="../../assets/images/services/shrimp-cocktail.jpg" class="img-fluid shadow mb-4 portfolio-img" alt="">
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class=""> 
                                                <img src="../../assets/images/services/chicken-kabob.jpg" class="img-fluid shadow mb-4 portfolio-img" alt="">
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class=""> 
                                                <img src="../../assets/images/services/desserts.jpg" class="img-fluid shadow mb-4 portfolio-img" alt="">
                                        </a>
                                </div>
       
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a><img src="../../assets/images/bar.jpg"
                                                        class="img-fluid mb-4 portfolio-img shadow" alt="">
                                        </a>
                                </div>


                        </div>
                </section>
                <section>
                        <h2>Holiday Photos</h2>
                        <div class="row">
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/pumpkin.jpg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/family/familyholday_2.jpg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/family/familyholiday_1.jpg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                                <div data-aos="zoom-in" class="col-lg-4 col-md-6 col-sm-12">
                                        <a class="">
                                                <img src="../../assets/images/family/familyholiday_3.jpg"
                                                        class="img-fluid shadow mb-4 portfolio-img" alt="">
                                               
                                        </a>
                                </div>
                        </div>
                </section>
        </div>
</section>