
<section class="container ">
    <div class="py-5">

            <div class="py-5">
                    <section class="text-center ">
                            <h2 class="display-3 primary-text">Portfolio of Events</h2>
                            <hr />
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat,
                                    sunt
                                    minima dolorum aspernatur modi rerum autem ullam, corporis nobis dolore culpa et
                                    voluptates expedita dicta, praesentium repellendus blanditiis vero.</p>
                    </section>
            </div>

            <section class="portfolio">
                    <div class="row">
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details">
                                            <img src="../../assets/images/alamo.jpg" class="img-fluid mb-4 portfolio-img"
                                                    alt="">
                                            <p class="portfolio-img-text">The Alamo</p>
                                    </a>
                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"><img
                                                    src="../../assets/images/the_pearl.jpg"
                                                    class="img-fluid mb-4 portfolio-img" height="500px" alt="">
                                            <p class="portfolio-img-text">The Pearl</p>
                                    </a>
                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"><img src="../../assets/images/bar.jpg"
                                                    class="img-fluid mb-4 portfolio-img" alt="">
                                            <p class="portfolio-img-text">Bar nights</p>
                                    </a>
                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"> <img
                                                    src="../../assets/images/fried-sticks.jpg"
                                                    class="img-fluid mb-4 portfolio-img" alt="">
                                            <p class="portfolio-img-text">Fry Party</p>
                                    </a>

                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"> <img
                                                    src="../../assets/images/dancing.jpg" class="img-fluid mb-4 portfolio-img"
                                                    alt="">
                                            <p class="portfolio-img-text">Family Party</p>
                                    </a>
                            </div>
                            <div class="col-lg-6">
                                    <a asp-="Portfolio" asp-action="Details"> <img src="../../assets/images/pumpkin.jpg"
                                                    class="img-fluid mb-4 portfolio-img" alt="">
                                            <p class="portfolio-img-text">Pumpkin Patch</p>
                                    </a>
                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"> <img
                                                    src="../../assets/images/outing.jpg" class="img-fluid mb-4 portfolio-img"
                                                    alt="">
                                            <p class="portfolio-img-text">Company Picnic</p>
                                    </a>

                            </div>
                            <div class="col-lg-6">
                                    <a asp-controller="Portfolio" asp-action="Details"> <img
                                                    src="../../assets/images/picnic.jpg" class="img-fluid mb-4 portfolio-img"
                                                    alt="">
                                            <p class="portfolio-img-text">Corporate Outing</p>
                                    </a>
                            </div>
                    </div>
            </section>
    </div>
</section>